---
import Layout from "../../layouts/Layout.astro"
import { getLatestLauches, getLaunchBy } from "../../services/spacex"
const { id } = Astro.params

export const prerender = false // output hibrid

let launch
if (id) {
  launch = await getLaunchBy({ id })
}

/* export const getStaticPaths = async () => {
  const launches = await getLatestLauches()

  const params = launches.map((launch) => ({
    params: { id: launch.id },
  }))

  return params 
}
*/
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="mx-auto w-52">
    <img src={launch.links.patch.small} alt="" />
    <h2>{launch.details}</h2>
  </article>
</Layout>
